{% extends 'Tripeando/plantilla.html' %}

{% load static %}
      					  
{% block contenido1 %}
        <section class="post-content-area single-post-area fondo-perfil">
            <center>
                <div class="comment-form col-lg-8">
                    {% if messages %}
								{% for mensaje in messages %}
								<p>{{ mensaje }}</p>
								{% endfor %}

								{% endif %}
                    <h4>Cambiar Contraseña</h4>
                    <form action="{% url 'formulario_cambiar_contrasena' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="usuario" value="{{usuario.username}}">
                            <input type="password" class="form-control" name="contrasena" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'">
                            <br>
                            <input type="password" class="form-control" name="contrasena1" placeholder="Repetir Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repetir Contraseña'">
                        </div>
                        <br>
                        <br>
                        <br>
                        <button type="submit">Cambiar</button>
                    </form>        
                </div>
            </center>         
        </section>

{% endblock contenido1 %}

        
