{% extends 'Tripeando/plantilla.html' %}

{% load static %}

{% block contenido1 %}
			<section class="banner-area relative">
				<div class="overlay overlay-bg"></div>				
				<div class="container">
					<div class="row fullscreen align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 banner-left">
							<br>
							<h6 class="text-white">Tú vida como mochilero</h6>
							<h1 class="text-white">Un Mágico Viaje</h1>
							<p class="text-white">
								Comienza a descubrir los lugares más visitados...
							</p>
							<a href="{% url 'Registro' %}" class="primary-btn text-uppercase">Registrarse</a>
						</div>
						<div class="col-lg-4 col-md-6 banner-right">
							</div>
						</div>
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start popular-destination Area -->
			<section class="popular-destination-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Destinos más populares</h1>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{% static 'Tripeando/img/glaciar-grey.png' %}" alt="">
								</div>
								<div class="desc">	
									<a href="{% url 'Lugares' %}" class="price-btn">Ver Descripción</a>			
									<h4>Glaciar Grey</h4>		
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{% static 'Tripeando/img/valle-de-la-luna.jpg' %}" alt="">
								</div>
								<div class="desc">	
									<a href="{% url 'Lugares' %}" class="price-btn">Ver Descripción</a>			
									<h4>Valle de la Luna</h4>			
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-destination relative">
								<div class="thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="{% static 'Tripeando/img/volcan-villarrica.jpg' %}" alt="">
								</div>
								<div class="desc">	
									<a href="{% url 'Lugares' %}" class="price-btn">Ver Descripción</a>			
									<h4>Volcán Villarica</h4>	
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End popular-destination Area -->
			
			<!-- Start ULTIMOS VISITADOS Area -->
			<!--
			<section class="recent-blog-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10">Últimos Visitados</h1>
							</div>
						</div>
					</div>							
					<div class="row">
						<div class="active-recent-blog-carusel">
							<div class="single-recent-blog-post item">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'Tripeando/img/blog/valle-del-rio-cochamo.jpg' %}" alt="">
								</div>
								<div class="details">
									<div class="tags">
										<ul>										
										</ul>
									</div>
									<a href="{% url 'Post' %}"><h4 class="title">Valle del Río Cochamó</h4></a>
									<p>
										DESCRIPCIÓN.
									</p>
									<h6 class="date">12 Diciembre, 2017</h6>
								</div>	
							</div>
							<div class="single-recent-blog-post item">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'Tripeando/img/blog/volcan-osorno.jpg' %}" alt="">
								</div>
								<div class="details">
									<div class="tags">
										<ul>
										
										</ul>
									</div>
									<a href="#"><h4 class="title">Viaje a Osorno con mi familia</h4></a>
									<p>
										DESCRIPCIÓN
									</p>
									<h6 class="date">14 Octubre, 2017</h6>
								</div>	
							</div>
							<div class="single-recent-blog-post item">
								<div class="thumb">
									<img class="img-fluid" src="{% static 'Tripeando/img/blog/isla-grande-de-chiloe.jpg' %}" alt="">
								</div>
								<div class="details">
									<div class="tags">
										<ul>											
										</ul>
									</div>
									<a href="#"><h4 class="title">Mi viaje a la isla chiloé</h4></a>
									<p>
										DESCRIPCIÓN
									</p>
									<h6 class="date">10 Agosto, 2018</h6>
								</div>	
							</div>	
							
						</div>
					</div>
				</div>	
			</section>
			 End recent-blog Area -->

			

			<!-- Start Testimonios Area -->
		    <section class="testimonial-area section-gap">
		        <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-70 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Testimonios</h1>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="active-testimonial">
		                    <div class="single-testimonial item d-flex flex-row">
		                        <div class="thumb">
		                            <img class="img-fluid" src="{% static 'Tripeando/img/elements/user1.png' %}" alt="">
		                        </div>
		                        <div class="desc">
		                            <p>
		                               Una pagina asombrosa!! Siempre estoy acá!
		                            </p>
		                            <h4>Maria Fuentes</h4>
		                        </div>
		                    </div>
		                    <div class="single-testimonial item d-flex flex-row">
		                        <div class="thumb">
		                            <img class="img-fluid" src="{% static 'Tripeando/img/elements/user2.png' %}" alt="">
		                        </div>
		                        <div class="desc">
		                            <p>
										Es increible el tiempo en el que estoy en la pagina!!!
		                            </p>
		                            <h4>Lorena Fuentes</h4>
		                        </div>
		                    </div>		                    
		                </div>
		            </div>
		        </div>
			</section>

{% endblock contenido1 %}
			
