{% extends 'Tripeando/plantilla.html' %}

{% load static %}

{% block contenido1 %}

<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Iniciar Sesión
				</h1>
				<br>
				<center>
					<div class="col-lg-4 col-md-6 banner-right">
						<center>
							<div class="tab-content" id="myTabContent">
								<form class="form-wrap" action="" method="POST">
									{% csrf_token %}
									<input type="text" class="form-control" name="username" placeholder="Usuario"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Usuario'">
									<input type="password" class="form-control" name="password" placeholder="Contraseña"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'">
									<br>
									<center>
										<button>Iniciar Sesión</button>
										
									</center>
									<br>
									<div class="col-lg-11 col-md-8">
										<center>
											<a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'Tripeando/img/facebooklogo.png' %}" width="100px" height="100px" /></a>
											<a href="{% url 'social:begin' 'github' %}"><img src="{% static 'Tripeando/img/githublogo.png' %}" width="55px" height="55px" /></a>
										</center>
									</div>
									<div class="col-lg-12 col-md-6">
										<center>
											<a href="{% url 'reset_password' %}" class="genric-btn link">Olvidé mi Contraseña</a>
										</center>
									</div>								
									<br>
									<center>
										<a href="{% url 'Registro' %}" class="genric-btn primary-border e-large">Crear
											nueva cuenta</a>
									</center>
								</form>		
							</div>
							

						</center>

					</div>
				</center>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
{% endblock contenido1 %}