{% extends 'Tripeando/plantilla.html' %}

{% load static %}

{% block contenido1 %}
			<!-- start banner Area -->
			<section class="about-banner relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Lugares			
							</h1>	
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start insurence-one Area -->
			<section class="insurence-one-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/mMqWTYXy_vs?start=9" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<!--<img class="img-fluid img-one" src="{% static 'Tripeando/img/glaciar-grey.png' %}" alt=""> !-->
						</div>
						<div class="col-lg-6 insurence-right">
							<h1>Glaciar Grey</h1>
							<p>
								Es una acumulación de hielo en retroceso de 30 metros de altura al oeste del Parque Nacional Torres del Paine.
								Su impactante coloración azul con tonos turquesas y celestes, son consecuencia de la absorción y la dispersión de longitudes de onda de la luz solar, en combinación con un color gris que es el resultado de la harina de roca que se genera por la abrasión del hielo sobre el manto rocoso y que pasa a formar parte del agua de fusión del glaciar.
								El espectáculo visual va cambiando con el tiempo resultando en una sinfonía de colores sobre un paisaje de ensueño.
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End insurence-one Area -->

			<!-- Start insurence-two Area -->
			<section class="insurence-two-area pb-120">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<h1>Valle de la Luna</h1>
							<p>
								El valle de la Luna, a 2500 msnm, debe ser lo más parecido en la Tierra a lo que vieron los astronautas estadounidenses en la luna. Es uno de los paisajes naturales de Chile más impresionantes.
								Está formado por afloramientos elevados y valles en los que los materiales constitutivos son arena y arcilla mezcladas con yeso, sal y limolita. Todo conformado por el trabajo erosivo milenario del viento y las aguas.
								El valle pertenece a la Reserva Nacional Los Flamencos, en la Región de Antofagasta. La localidad más cercana es San Pedro Atacama, a 13 km.
							</p>
						</div>
						<div class="col-lg-6 insurence-right">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/JULBBwshPhc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<!--<img class="img-fluid img-two" src="{% static 'Tripeando/img/valle-de-la-luna.jpg' %}" alt=""> !-->
						</div>						
					</div>
				</div>	
			</section>
			<!-- End insurence-two Area -->	

			<!-- Start insurence-one Area -->
			<section class="insurence-one-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/gmZ1q9_Cdtg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<!--<img class="img-fluid img-one" src="{% static 'Tripeando/img/volcan-villarrica.jpg' %}" alt=""> !-->
						</div>
						<div class="col-lg-6 insurence-right">
							<h1>Volcán Villarica</h1>
							<p>
								Su cono casi perfecto se eleva hasta 2847 msnm en la frontera entre las regiones de Araucanía y de Los Ríos, entre los lagos de Villarrica y Calafquén.
								El volcán no es solo uno de los más activos del subcontinente, también tiene en su cráter un permanente lago de magma que emite intensas fumarolas acompañadas de débiles erupciones.
								Pese a que el volcán ha registrado actividad sísmica y fumarólica a lo largo del siglo, sigue siendo un destino turístico de gran interés mediante visitas guiadas que llegan hasta su cumbre.
							</p>
						</div>
					</div>
				</div>
				<div class="about-content col-lg-12">
					<h1 class="text-black">
						Opiniones de Facebook
					</h1>
				</div>
				{% if request.user.is_authenticated %}
				<center>
					<div id="fb-root"></div>
					<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v9.0&appId=3772561186129899&autoLogAppEvents=1" nonce="z3Ropm5o"></script>	
					<div class="fb-comments col-lg-6 col-sm-6 col-xs-6" data-href="http://localhost:8000/lugares/" data-numposts="5" data-width=""></div>
				</center>
				{%else%}
				<center>
					<div class="about-contentt col-lg-12">
						<a class="primary-btn" href="{% url 'social:begin' 'facebook' %}" class="price-btn">Inicia Sesion Con Facebook</a>
					</div>

				</center>
				{%endif%}
				
			</section>		
{% endblock contenido1 %}
						