{% extends 'Tripeando/plantilla.html' %}

{% load static %}
      					  
{% block contenido1 %}
        <section class="post-content-area single-post-area fondo-perfil">
            <center>
                <div class="comment-form col-lg-8">
                    <h4>Contraseña Cambiada</h4>
                    <p>Tu contraseña se ha cambiado</p>
                    <a href="{% url 'Inicio' %}">Iniciar Sesión</a>
                </div>
            </center>         
        </section>

{% endblock contenido1 %}

        
