{% extends 'Tripeando/plantilla.html' %}

{% load static %}
      					  
{% block contenido1 %}
        <section class="post-content-area single-post-area fondo-perfil">
            <center>
                <div class="comment-form col-lg-8">
                    <h4>Recuperar Contraseña</h4>
                    <form method="POST">
                        {% csrf_token %}
                        {{form}}
                        <br>
                        <br>
                        <br>
                        <input type="submit" name="Enviar Correo">
                    </form>        
                </div>
            </center>         
        </section>

{% endblock contenido1 %}

        
