{% extends 'Tripeando/plantilla.html' %}

{% load static %}
      					  
{% block contenido1 %}
        <section class="post-content-area single-post-area fondo-perfil">
            <center>
                <div class="comment-form col-lg-8">
                    <h4>Correo Enviado</h4>
                    <p>Se ha enviado un correo electronico con el link de recuperacion de contraseña, revise su bandeja de entrada o Spam, en caso de no recibir el correo en los proximos 5 minutos, verifique si el correo ingresado está escrito correctamente.</p>
                </div>
            </center>         
        </section>

{% endblock contenido1 %}

        
