{% extends 'Tripeando/plantilla.html' %}

{% load static %}

{% block contenido1 %}
			<!-- start banner Area -->
			<section class="relative about-banner">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->					  
			
			<!-- Start post-content Area -->
			<section class="post-content-area single-post-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							{% for p in posts%}
							<div class="single-post row">
								<div class="col-lg-12">
									{% if request.user.is_superuser%}
									<a href="/deleteadmin/{{p.id_post}}" onClick="return confirm('¿Seguro que quieres banear el post {{p.titulo}}?');"
										Borrar class="genric-btn primaryy e-large">Banear Post</a>
									{%endif%}
									{% if request.user.username == p.usuario2.usuario %}
									<a href="/delete/{{p.id_post}}" onClick="return confirm('¿Seguro que quieres borrar tu post {{p.titulo}}?');"
										Borrar class="genric-btn primaryy e-large">Borrar Post</a>
									<a href="/editarpost/{{p.id_post}}" class="genric-btn primaryy e-large">Editar Post</a>
									{% endif %}

									<div class="feature-img">
										<img src="/media/{{ p.foto_post }}">
									</div>									
								</div>
								<div class="col-lg-3  col-md-3 meta-details">
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6">{{p.usuario2.usuario}}  <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6">{{p.fecha_publicacion|date:"d-m-Y "}}<span class="lnr lnr-calendar-full"></span></p>
										<!--<p class="view col-lg-12 col-md-12 col-6">{{contador.vistas}} <span class="lnr lnr-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">2 Comentarios</a> <span class="lnr lnr-bubble"></span></p>	-->																	
									</div>
								</div>
								
								<div class="col-lg-9 col-md-9">
									<h3 class="mt-20 mb-20">{{ p.titulo }}</h3>
									<p class="excert">
										{{p.desc_post|linebreaks}}
									</p>
								</div>
								
								<div class="col-lg-12">
									<div class="row mt-30 mb-30">
																		
									</div>
								</div>
							</div>
							
							<!--
							<div class="comments-area">
								<h4>Comentarios</h4>
								{%for c in coments %}
								<div class="comment-list">
									<div class="single-comment justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
											<div class="thumb">
												<img src="{% static 'Tripeando/img/blog/c1.jpg' %}" alt="">
											</div>
											<div class="desc">
												<h5>{{perfils.usuario}}</h5>
												<p class="date">{{coments.fecha_comentario}}</p>
												<p class="comment">
													{{coments.desc_comentarios}}
												</p>
											</div>
										</div>
										<div class="reply-btn">
											   <a href="" class="btn-reply text-uppercase">Responder</a> 
										</div>
									</div>
								</div>
								{%endfor%}	                       				
							</div>
							<div class="comment-form">
								<h4>Deja un comentario</h4>
								<div class="form-group">
									<a href="{% url 'Crearcomentario' %}" class="genric-btn primary e-large">Comentar</a>
								</div>

							</div>
							!-->
						</div>

						<div class="col-lg-4 sidebar-widgets">
							<div class="widget-wrap">
								<div class="single-sidebar-widget user-info-widget">
									<img src="/media/{{ p.usuario2.foto_perfil }}" width="150px" height="150px">
									<a><h4>{{ p.usuario2.usuario }}</h4></a>
									<a><h4>{{ p.usuario2.nombre }} {{p.usuario2.apellido}}</h4></a>
									<p>
										{{ p.usuario2.desc_perfil }}
									</p>
								</div>
								<!--<div class="single-sidebar-widget popular-post-widget">
									<h4 class="popular-title">Posts</h4>
									<div class="popular-post-list">
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="thumb">
												<img  src="/media/{{ p.foto_post }} " width="110px" height="110px">
											</div>
											<div class="details">
												<a href="{% url 'Post' %}"><h6>{{ p.titulo }}</h6></a>
												<p>{{ p.fecha_publicacion|date:"d-m-Y" }}</p>
											</div>
										</div> -->
										{% endfor %}													
									</div>
								</div>				
							</div>
						</div>
					</div>
				</div>	
			</section>
			
{% endblock contenido1 %}			